@import "reset.scss"; /* Import reset.css */

.container {
  display:flex;
  flex-wrap:wrap;
  width:100%;
    &--column {
      flex-direction: column;
      width:50%;
    }
}

.container > div {
  text-align:center;
}

.container__header {
  background-color: rgb(11, 11, 26);
  color:white;
  width:25%;
  height:5vh;
  line-height:5vh;
}

.container__menu {
  background-color: rgb(189, 58, 58);
  color:white;
  width:75%;
  height:5vh;
  line-height:5vh;
}

.container__hero {
  background-color: rgb(62, 120, 207);
  color:white;
  width:100%;
  height:50vh;
  line-height:50vh;
}

.container__main {
  background-color: rgb(21, 32, 54);
  color:white;
  width:50%;
  height:36vh;
  line-height:36vh;
}

.container__image {
  align-self: end;
  background-color: rgb(161, 196, 216);
  line-height:18vh;
  height:18vh;
  width:50%;
}

.container__extra {
  background-color: rgb(42, 126, 91);
  align-self: end;
  line-height:18vh;
  height:18vh;
  width:50%;
}

.container__banner {
  background-color: rgb(219, 200, 88);
  width:100%;
  height:9vh;
  line-height:9vh;
}

/* ----------------------- Media --------------------- */
@media screen and (max-width: 768px) {
  .container {
  }
  .container--column {
    flex-direction: row;
    width:75%;
    order:6;
  }

.container__header {
    width:100%;
    order:1;
  }
.container__menu {
    width:25%;
    height:75vh;
    line-height:75vh;
    order:3;
  }
  .container__hero {
    height:35vh;
    line-height:35vh;
    order:2;
  }
  .container__main {
    width:75%;
    height:34vh;
    order:4;
  }
  .container__image {
    width:50%;
    height:22vh;
  }
  .container__extra {
    width:50%;
    height:22vh;
  }
  .container__banner {
    width:75%;
    height:18vh;
    order:5;
  }

}