@import "reset.scss"; /* Import reset.css */

.container {
  display:flex;
  flex-wrap:wrap;
  width:100%;
    &--column {
      flex-direction: column;
      width:50%;
    }
}

.container > div {
  text-align:center;
  font-size:20px;
  font-weight:500;
}

.container--tablet-size-25 {
  width:75%;
}
.container--tablet-size-75 {
  display:flex;
  flex-wrap:wrap;
  width:100%;
}

.container__header {
  background-color: rgb(11, 11, 26);
  color:white;
  width:25%;
  height:5vh;
  line-height:5vh;
}
.container__menu {
  background-color: rgb(189, 58, 58);
  color:white;
  width:100%;
  height:5vh;
  line-height:5vh;
}
.container__hero {
  background-color: rgb(62, 120, 207);
  color:white;
  width:100%;
  height:50vh;
  line-height:50vh;
}
.container__main {
  background-color: rgb(21, 32, 54);
  color:white;
  width:50%;
  height:36vh;
  line-height:36vh;
}
.container__image {
  align-self: end;
  background-color: rgb(161, 196, 216);
  line-height:18vh;
  height:18vh;
  width:50%;
}
.container__extra {
  background-color: rgb(42, 126, 91);
  align-self: end;
  line-height:18vh;
  height:18vh;
  width:50%;
}
.container__banner {
  background-color: rgb(219, 200, 88);
  width:100%;
  height:9vh;
  line-height:9vh;
}

/* ----------------------- Media query for tablet --------------------- */

@media screen and (max-width: 768px) {

  .container--tablet-size-25 {
    width:25%;
    order:3;
  }
  .container--tablet-size-75 {
    width:75%;
    order:4;
  }
  .container--column {
    flex-direction: row;
    width:100%;
    order:6;
  }

  .container__menu {
    height:60vh;
    line-height:60vh;
  }
  .container__header {
    height:5vh;
    line-height:5vh;
    width:100%;
    order:1;
  }
  .container__hero {
    height:35vh;
    line-height:35vh;
    order:2;
  }
  .container__main {
    width:100%;
    height:30vh;
    line-height:30vh;
  }
  .container__image {
    width:30%;
    height:15vh;
    line-height:15vh;
    order:1;
  }
  .container__extra {
    width:70%;
    height:15vh;
    line-height:15vh;
  }
  .container__banner {
    width:100%;
    height:15vh;
    line-height:15vh;
  }
}

/* ----------------------- Media query for phone --------------------- */

@media (max-width: 480px) {

  .container--tablet-size-25 {
    width:100%;
    order:1;
    height: 5vh;
  }
  .container--tablet-size-75 {
    width:100%;
    order:4;
  }
  .container--column {
    flex-direction: row;
    width:100%;
    order:6;
  }

  .container__menu {
    line-height: 5vh;
  }
  .container__header {
    height: 5vh;
    line-height: 5vh;
    width:100%;
  }
  .container__hero {
    height: 20vh;
    line-height: 20vh;
  }
  .container__main {
    width:100%;
    height: 20vh;
    line-height: 20vh;
  }
  .container__image {
    width:100%;
    height:calc(50vh / 3);
    line-height:calc(50vh / 3);
  }
  .container__extra {
    width:100%;
    height:calc(50vh / 3);
    line-height:calc(50vh / 3);
  }
  .container__banner {
    width:100%;
    height:calc(50vh / 3);
    line-height:calc(50vh / 3);
  }
}